<%= render "/shared/topbar" %>




<div class="messages-container">
  <div class="container d-flex mt-4">
    <div class="my-program-card-heading">
    <%= link_to dashboard_path do%>
    <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    </div>
      <div class="user text-center">
        <h1> Les posts </h1>
        <hr>
      </div>
  </div>
  <!-- Button trigger modal -->

<div class="messages-card-post">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Creer un post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container mt-4">
            <h1> Montre à tout le monde ce que tu as fait</h1>
            <%=simple_form_for @message do |f|%>

              <%=f.input :content%>
              <%= current_user.nickname %> a réalisée  <%= @echauffement.name %>

              <%=f.input :photo, as: :file%>
              <%=f.submit%>
            <%end%>

            </div>
</div>

            </div>
        <%# <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> %>
      </div>
    </div>
  </div>



    <% Message.all.each do |message|%>
      <div class="container mt-4">
        <div class="card" style="">
          <div class="card-body">
          <% if message.photo.attached? %>
            <%= cl_image_tag message.photo.key, class: "img-message" %>
          <% end %>
            <h5 class="card-title"><%= message.user.nickname.capitalize %></h5>
            <p><i class="fa-regular fa-calendar"></i> <em><%= Date.today.strftime('%d %a %y')%></em></p>
            <p class="card-text"><%= message.content %></p>
            <span class="name-exo"><%= @echauffement.sample.name %></span>
            <span class="name-exo"><%= @bras.sample.name %></span>
            <span class="name-exo"><%= @jambes.sample.name %></span>
            <div class="d-flex justify-content-start align-items-center gap-2">
              <div class="bolt mt-2 mb-2 ">
                <i class="fa-solid fa-fire-flame-simple"></i>
              </div>
              <span> <%= @echauffement.sample.calories + @bras.sample.calories + @jambes.sample.calories %> Kcal </span>
            </div>
          </div>
        </div>
      </div>
      <% end %>

  <div class="container mt-4">
  <div class="card" style="">
    <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2F114b5166-5f4c-4dd0-9d1e-f2e952c42d85.jpg?source=next-article&fit=scale-down&quality=highest&width=700&dpr=1" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


<br><br><br><br><br><br><br><br>
  </div>
<div class="messages-card-button-create-post">
  <button type="button" class="button-create-post" data-bs-toggle="modal" data-bs-target="#exampleModal">
    +
  </button>
</div>


</div>


<%= render "shared/navbar" %>
