<div class="aptitude" >

  <h1 class="title"> Test de Mobilité  </h1>

  <h2> Bienvenue dans votre test de mobilité ! </h2>

  <p> Durée moyenne : 12 min </p>
  <p> Testez vous au moins 2 heures après le lever </p>
  <p> Évitez de vous tester juste après un entraînement </p>

<%= form_for @aptitude, data: { controller: "aptitude" } do |f| %>
  <%# ------------ CAROUSSEL 1 ------------- %>
  <div id="carouselExampleRide" class="carousel slide " data-bs-ride="false" data-aptitude-target="aptitudeTest" >
    <div>
    <%= f.text_field :shoulder,
                    class:"d-none",
                    data:  {aptitude_target: "input"} %>
      <div class="carousel-inner">
        <div class="carousel-item active" target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
          <%= image_tag("IMG_1603.jpg", class: "option-image", data: { difficulty: "Faible"}) %>
        </div>
        <div class="carousel-item" target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
          <%= image_tag("IMG_1604.jpg", class: "option-image", data: { difficulty: "Moyenne"}) %>
        </div>
        <div class="carousel-item" target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= image_tag("IMG_1602.jpg", class: "option-image", data: { difficulty: "Forte"}) %>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>


    <%# <div>
      <%= f.text_field :shoulder,
                  class:"d-none",
                  data:  {aptitude_target: "input"} %>
      <%# <%= image_tag("IMG_1603.jpg", class: "option-image active", data: {action: "click->aptitude#selectImage", difficulty: "Faible"}) %>
      <%# <%= image_tag("IMG_1604.jpg", class: "option-image", data: {action: "click->aptitude#selectImage", difficulty: "Moyenne"}) %>
      <%# <%= image_tag("IMG_1602.jpg", class: "option-image", data: {action: "click->aptitude#selectImage", difficulty: "Forte"}) %>

    <%#</div> %>

    <%# ------------ CAROUSSEL 2 ------------- %>

  <div id="carouselExampleRide2" class="carousel slide d-none" data-bs-ride="false" data-aptitude-target="aptitudeTest">
      <div>
      <%= f.text_field :shoulder,
                      class:"d-none",
                      data:  {aptitude_target: "input"} %>
        <div class="carousel-inner">
          <div class="carousel-item active" target="image">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= image_tag("IMG_1608.jpg", class: "option-image", data: { difficulty: "Faible"}) %>
          </div>
          <div class="carousel-item" target="image">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= image_tag("IMG_1609.jpg", class: "option-image", data: { difficulty: "Moyenne"}) %>
          </div>
          <div class="carousel-item" target="image">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
              <%= image_tag("IMG_1610.jpg", class: "option-image", data: { difficulty: "Forte"}) %>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
    </div>




    <%# <div>
      <%= f.text_field :hip,
                  class:"d-none",
                  data:  {aptitude_target: "input"}%>
      <%# <%= image_tag("IMG_1608.jpg", class: "option-image", data: { difficulty: "Faible"}) %>
      <%# <%= image_tag("IMG_1609.jpg", class: "option-image", data: { difficulty: "Moyenne"}) %>
      <%# <%= image_tag("IMG_1610.jpg", class: "option-image", data: { difficulty: "Forte"}) %>

    <%# </div> %>


<%# ------------ CAROUSSEL 3 ------------- %>

  <div id="carouselExampleRide3" class="carousel slide d-none" data-bs-ride="false" data-aptitude-target="aptitudeTest">
    <div>
    <%= f.text_field :shoulder,
                    class:"d-none",
                    data:  {aptitude_target: "input"} %>
      <div class="carousel-inner">
        <div class="carousel-item active" target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
          <%= image_tag("IMG_1605.jpg", class: "option-image", data: { difficulty: "Faible"}) %>
        </div>
        <div class="carousel-item" target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
          <%= image_tag("IMG_1606.jpg", class: "option-image", data: { difficulty: "Moyenne"}) %>
        </div>
        <div class="carousel-item" target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= image_tag("IMG_1607.jpg", class: "option-image", data: { difficulty: "Forte"}) %>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>



    <div data-action="click->aptitude#nextTest">Next Question</div>
    <%# <div>
      <%= f.text_field :ankle,
                  class:"d-none",
                  data:  {aptitude_target: "input"}%>
      <%# <%= image_tag("IMG_1605.jpg", class: "option-image", data: { difficulty: "Faible"}) %>
      <%# <%= image_tag("IMG_1606.jpg", class: "option-image", data: { difficulty: "Moyenne"}) %>
      <%# <%= image_tag("IMG_1607.jpg", class: "option-image", data: { difficulty: "Forte"}) %>



  <% end %>






</div>
