<%# here is where starts the topbar-container %>
<div class="topbar-container">

  <%# topbar-avatar starts %>
  <div class="topbar-avatar">
   <%= image_tag  "cristian.jpg"%>
  </div>
  <%# topbar-avatar ends %>

  <%# topbar-information starts %>
  <div class="topbar-information">
    <p>Hello <%= current_user.nickname %></p>
  </div>
  <%# topbar-information end %>

  <%# topbar-logo starts %>
  <div class="topbar-logo">
    <%= image_tag  "hive-logo.png"%>
  </div>
  <%# topbar-logo ends %>


</div>
<%# here is where starts the topbar-container %>


<div class="container aptitude" data-controller="display-aptitude" >
  <div class="info-apt" data-display-aptitude-target="information">
    <div class="info-apt-title">
      <h1 class="title"> Test de Mobilité  </h1>
      <hr>
    </div>
    <%# <h2> Bienvenue dans votre test de mobilité ! </h2> %>
    <div class="info-program">
      <p> <i class="fa-regular fa-clock"></i> <em>Durée moyenne</em> : 12 min </p>
      <p> Testez-vous au moins 2 heures après le lever </p>
      <p> <i class="fa-solid fa-triangle-exclamation"></i> Sélectionner la photo qui vous semble la plus optimale en fonction de vos résultats </p>
      <p class="advice"><em> Évitez de vous tester juste après un entraînement </em></p>
    </div>
      <hr>

    <button class="next-link" data-action="click->display-aptitude#display"><strong>Commencer</strong></button>
  </div>



  <%# --------------- Caroussel ---------------- %>

  <div class="krousel d-none" data-display-aptitude-target="training">

    <%= form_for @aptitude, data: { controller: "aptitude" } do |f| %>
      <%# ------------ CAROUSSEL 1 ------------- %>

      <div id="carouselExampleRide" class="carousel slide " data-bs-ride="false" data-aptitude-target="aptitudeTest" >
        <div class="container mt-4">
         <div class="user text-center">
           <h4><b>Mobilité Épaule</b></h4>
           <hr>
       </div>
         </div>
        <div>
        <%= f.text_field :shoulder,
                        class:"d-none",
                        data:  {aptitude_target: "input"} %>
          <div class="carousel-inner">
            <div class="carousel-item active" data-difficulty="Faible" data-aptitude-target="image">
              <%# <img src="..." class="d-block w-100" alt="..."> %>
              <%= image_tag("IMG_1603.jpg", class: "option-image", data: { difficulty: "Faible", aptitude_target: "difficulty"}) %>
            </div>
            <div class="carousel-item" data-difficulty="Moyen" data-aptitude-target="image">
              <%# <img src="..." class="d-block w-100" alt="..."> %>
              <%= image_tag("IMG_1604.jpg", class: "option-image", data: { difficulty: "Moyenne", aptitude_target: "difficulty"}) %>
            </div>
            <div class="carousel-item" data-difficulty="Fort" data-aptitude-target="image">
              <%# <img src="..." class="d-block w-100" alt="..."> %>
                <%= image_tag("IMG_1602.jpg", class: "option-image", data: { difficulty: "Forte", aptitude_target: "difficulty"}) %>
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
      </div>


    <%# <div>
      <%= f.text_field :shoulder,
                  class:"d-none",
                  data:  {aptitude_target: "input"} %>
      <%# <%= image_tag("IMG_1603.jpg", class: "option-image active", data: {action: "click->aptitude#selectImage", difficulty: "Faible"}) %>
      <%# <%= image_tag("IMG_1604.jpg", class: "option-image", data: {action: "click->aptitude#selectImage", difficulty: "Moyenne"}) %>
      <%# <%= image_tag("IMG_1602.jpg", class: "option-image", data: {action: "click->aptitude#selectImage", difficulty: "Forte"}) %>

    <%#</div> %>

    <%# ------------ CAROUSSEL 2 ------------- %>

  <div id="carouselExampleRide2" class="carousel slide d-none" data-bs-ride="false" data-aptitude-target="aptitudeTest">
  <div class="container mt-4">
         <div class="user text-center">
           <h4><b>Mobilité de Hanche </b></h4>
           <hr>
       </div>
         </div>
      <div>
      <%= f.text_field :hip,
                      class:"d-none",
                      data:  {aptitude_target: "input"} %>
        <div class="carousel-inner">
          <div class="carousel-item active" data-difficulty="Faible" data-aptitude-target="image">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= image_tag("IMG_1608.jpg", class: "option-image", data: { difficulty: "Faible", aptitude_target: "difficulty"}) %>
          </div>
          <div class="carousel-item" data-difficulty="Moyen" data-aptitude-target="image">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= image_tag("IMG_1609.jpg", class: "option-image", data: { difficulty: "Moyenne", aptitude_target: "difficulty"}) %>
          </div>
          <div class="carousel-item" data-difficulty="Fort" data-aptitude-target="image">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
              <%= image_tag("IMG_1610.jpg", class: "option-image", data: { difficulty: "Forte", aptitude_target: "difficulty"}) %>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
    </div>

    <%# <div>
      <%= f.text_field :hip,
                  class:"d-none",
                  data:  {aptitude_target: "input"}%>
      <%# <%= image_tag("IMG_1608.jpg", class: "option-image", data: { difficulty: "Faible"}) %>
      <%# <%= image_tag("IMG_1609.jpg", class: "option-image", data: { difficulty: "Moyenne"}) %>
      <%# <%= image_tag("IMG_1610.jpg", class: "option-image", data: { difficulty: "Forte"}) %>

    <%# </div> %>


<%# ------------ CAROUSSEL 3 ------------- %>

  <div id="carouselExampleRide3" class="carousel slide d-none" data-bs-ride="false" data-aptitude-target="aptitudeTest">
  <div class="container mt-4">
         <div class="user text-center">
           <h4><b>Mobilité de Cheville </b></h4>
           <hr>
       </div>
         </div>
    <div>
    <%= f.text_field :ankle,
                    class:"d-none",
                    data:  {aptitude_target: "input"} %>
      <div class="carousel-inner">
        <div class="carousel-item active" data-difficulty="Faible" data-difficulty="Faible" data-aptitude-target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
          <%= image_tag("IMG_1605.jpg", class: "option-image", data: { difficulty: "Faible", aptitude_target: "difficulty"}) %>
        </div>
        <div class="carousel-item" data-difficulty="Moyen" data-difficulty="Faible" data-aptitude-target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
          <%= image_tag("IMG_1606.jpg", class: "option-image", data: { difficulty: "Moyenne", aptitude_target: "difficulty"}) %>
        </div>
        <div class="carousel-item" data-difficulty="Fort" data-aptitude-target="image">
          <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= image_tag("IMG_1607.jpg", class: "option-image", data: { difficulty: "Forte", aptitude_target: "difficulty"}) %>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>

    <div data-action="click->aptitude#nextTest" class="next-link"><strong>Suivant <i class="fa-solid fa-arrow-right"></i></strong></div>
    <%# <div>
      <%= f.text_field :ankle,
                  class:"d-none",
                  data:  {aptitude_target: "input"}%>
      <%# <%= image_tag("IMG_1605.jpg", class: "option-image", data: { difficulty: "Faible"}) %>
      <%# <%= image_tag("IMG_1606.jpg", class: "option-image", data: { difficulty: "Moyenne"}) %>
      <%# <%= image_tag("IMG_1607.jpg", class: "option-image", data: { difficulty: "Forte"}) %>
  <% end %>
  </div>
</div>
