<div class="bloc-exercice">

  <h5><strong><%= @bras.category %></strong></h5>

    <div class="organized-bloc">
      <div>
        <h6><strong><%= @bras.name %></strong></h6>
        <p>Répétitions: <%= @bras.repetition %> fois</p>
        <p>Durée: <%= @bras.time %> mn(s)</p>
      </div>
      <%= image_tag(@bras.photo) %>
    </div>


    <p class="btn btn-gradient" data-action="click->details#display" >Plus de détails</p>
    <div class="details-exercices d-none" data-details-target="detail">
      <p><strong>calories</strong><br> <%= @bras.calories %> kcl</p>
      <p><strong>Description:</strong> <%= @bras.description %></p>
    </div>

</div>

<%= console
  %>
