 <div class="bloc-exercice">

    <div class="organized-bloc">
      <h6><strong><%= exercice.workout.name %></strong></h6>
    </div>

    <h6><%= exercice.name %></h6><!--Adapter avec le 'name' de l'exercice-->

        <div class="align-details">
          <!--Adapter avec 'répétition' et 'time' de l'exercice-->
          <p><strong>Répétitions</strong><br> <%= exercice.repetition %> fois</p>
          <p><strong>Durée moyenne</strong><br> <%= exercice.time %> minutes</p>
        </div>

      <p class="btn btn-gradient" data-action="click->details#display" >Plus de détails</p>
      <div class="details-exercices d-none" data-details-target="detail">

        <!--Adapter avec les photos des exercices-->
        <div class="display-pictures" >
          <img src=" <%=exercice.photo %> ">
        </div>

        <p><strong>Description:</strong> <%= exercice.description %></p>

      </div>

  </div>
