<%= render "/shared/topbar" %>

<%= link_to dashboard_path do%>
<i class="fa-solid fa-arrow-left"></i>
<% end %>

<div class="user text-center">
  <h4><b>MON PROGRAMME</b></h4>
  <hr>
</div>

<div class="container-program" data-controller="details">

  <%= render "echauffement"%>
  <%= render "bras" %>
  <%= render "jambes" %>
  <%= render "other" %>

  <button class="checkpoint-button">Je valide mes exercices</button>
  -->
  <div class="centre" data-controller="notifications">
    <button class="checkpoint-button" data-action="click->notifications#display">Je valide mes exercices</button>
    <%= render "completed"%>
  </div>


</div>

<%= render "/shared/navbar" %>
