<%= render "/shared/topbar" %>

<%= link_to dashboard_path do%>
<i class="fa-solid fa-arrow-left"></i>
<% end %>

<div class="user text-center">
  <h4><b>MON PROGRAMME</b></h4>
  <hr>
</div>

<div class="container-program" data-controller="details">

  <%= render "echauffement"%>
  <%= render "bras" %>
  <%= render "jambes" %>
  <%= render "other" %>

  <%# <% Exercice.where.not(category:"Echauffement").all.sample(3).each do |exercice| %>
    <%# <%= render "exercice", exercice: exercice %>
  <%# <% end %>

  <button class="checkpoint-button">Je valide mes exercices</button>
</div>

<%= render "/shared/navbar" %>
