<div class="navbar-container">

  <div class="card-my-profile">
    <%# here is where you have to put the link %>
    <div class="card-my-profile-container">

      <%=image_tag("profile.png")%>
    </div>

    <%= link_to profile_path do %>
    <div class="card-my-profile-text" >
      <p>My profile</p>
    </div>
    <% end %>

  </div>

  <div class="card-community">

    <div class="card-community-container">
    <%# here is where you have to put the link %>
     <%=image_tag("community.png")%>
    </div>

    <div class="card-community-text">
      <p>Community</p>
    </div>

  </div>

  <div class="card-menu">

    <div class="card-menu-container">
    <%# here is where you have to put the link %>
      <%=image_tag("menu.png")%>
    </div>

    <div class="card-menu-text">
      <p>Menu</p>
    </div>

  </div>

</div>


<%# <%= render 'shared/navbar' %>
