<%= render "/shared/topbar" %>

<div class="aboutus-container">

  <%# this is where aboutus-card-presentation-carrousel starts %>
  <div class="aboutus-card-presentation-carrousel">

    <%# this is where the about-us-h1 card start %>
      <div class="aboutus-card-h1">
        <h1>A propos de HIVE</h1>
      </div>
    <%# this is where the about-us-h1 card end %>

    <%# this is where aboutus-card-presentation starts %>
      <div class="aboutus-card-presentation">
      <p>Bienvenue chez Hive, où la transformation rencontre la communauté ! Hive n'est pas seulement une application sportive ; il s'agit d'un réseau social animé conçu pour permettre aux personnes obèses de se lancer dans un voyage de changement positif. Nous croyons au pouvoir du soutien collectif et des plans de formation sur mesure, créant une ruche où chaque étape vers un mode de vie plus sain est célébrée. Rejoignez-nous pour tisser des liens, suivre les progrès et nous inspirer mutuellement pour redéfinir ce qui est possible. Ensemble, nous ne changeons pas seulement des vies ; nous créons une ruche florissante d'autonomisation et de bien-être. Bienvenue chez Hive, où commence votre voyage vers une meilleure santé !</p>
      </div>
    <%# this is where aboutus-card-presentation ends %>

    <%# this is where carrousel starts %>
    <div class="aboutus-card-carrousel">
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag  "about1.jpg", width: "300px"%>
            </div>
            <div class="carousel-item">
              <%= image_tag  "about2.jpg", width: "300px"%>
            </div>
            <div class="carousel-item">
              <%= image_tag  "about3.jpg", width: "300px"%>
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
      </div>
    </div>
    <%# this is where carrousel ends %>

  </div>
  <%# this is where aboutus-card-presentation-carrousel starts %>

  <%# this is where aboutus-card-information starts %>
  <div class="aboutus-card-information">
    <h2>A propos de l'obésité</h2>
    <p>L'obésité est une condition médicale caractérisée par une accumulation excessive de graisse corporelle, résultant souvent d'une combinaison de facteurs génétiques, environnementaux et liés au mode de vie. Il présente divers risques pour la santé, notamment une probabilité accrue de développer des maladies telles que le diabète de type 2, les maladies cardiaques, l'hypertension et certains cancers. De plus, l’obésité peut avoir un impact sur la santé mentale et contribuer aux problèmes musculo-squelettiques. Le maintien d’une alimentation équilibrée, une activité physique régulière et la recherche de conseils médicaux sont essentiels pour traiter et prévenir les problèmes de santé liés à l’obésité.</p>

      <%= image_tag  "obesity_chart.jpg.png", width: "300px"%>
      <%= image_tag  "obesity_chart_france.jpg.png", width: "300px"%>
      <%= image_tag  "obesity_gender.jpg.png", width: "300px"%>
      <%= image_tag  "obesity_france.jpg.png", width: "300px"%>

  </div>
  <%# this is where aboutus-card-information ends %>

  <%# this is where aboutus-card-philosophy starts%>
  <div class="aboutus-card-philosophy">
    <h2>Notre philosophie</h2>

        <p>“Aerodynamically, the bumble bee shouldn't be able to fly, but the bumble bee doesn't know it so it goes on flying anyway.” - Mary Kay Ash</p>

        <%= image_tag  "bumblebee.jpg", width: "300px"%>

        <p>De même, face aux limites perçues, les personnes obèses possèdent une force innée qui défie les attentes conventionnelles. Comme le bourdon planant dans les cieux malgré les obstacles aérodynamiques, vous détenez également le pouvoir de transcender les normes sociétales. Embrassez la résilience intérieure, inconscient des contraintes imposées par les autres ou du doute de soi. Tout comme le bourdon continue de voler sans savoir qu'il « ne devrait pas », laissez votre esprit prendre son envol, en vous libérant des idées préconçues. Votre cheminement vers un mode de vie plus sain témoigne de l’extraordinaire potentiel qui existe en vous, alimenté par la détermination et la croyance en votre capacité à surmonter les défis. Continuez à voler, sans vous limiter à ce que les autres pensent possible, et profitez de la beauté unique de votre vol personnel vers le bien-être.</p>
    </div>

     <br><br><br><br>

</div>
  <%# this is where aboutus-card-philosophy end%>




<%= render "shared/navbar" %>
