<%= render "/shared/topbar" %>

<div class="aboutus-container">

  <%# this is where aboutus-card-presentation-carrousel starts %>
  <div class="aboutus-card-presentation-carrousel">

    <%# this is where the about-us-h1 card start %>
      <div class="aboutus-card-h1">
        <h1>About Hive</h1>
      </div>
    <%# this is where the about-us-h1 card end %>

    <%# this is where aboutus-card-presentation starts %>
      <div class="aboutus-card-presentation">
      <p>Welcome to Hive, where transformation meets community! Hive is not just a sport app; it's a buzzing social network designed for people with obesity to embark on a journey of positive change. We believe in the power of collective support and tailored training plans, creating a hive where every step towards a healthier lifestyle is celebrated. Join us as we weave connections, track progress, and inspire one another to redefine what's possible. Together, we're not just changing lives; we're creating a thriving hive of empowerment and well-being. Welcome to Hive, where your journey to a healthier you begins!</p>
      </div>
    <%# this is where aboutus-card-presentation ends %>

    <%# this is where carrousel starts %>
    <div class="aboutus-card-carrousel">
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag  "about1.jpg", width: "300px"%>
            </div>
            <div class="carousel-item">
              <%= image_tag  "about2.jpg", width: "300px"%>
            </div>
            <div class="carousel-item">
              <%= image_tag  "about3.jpg", width: "300px"%>
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
      </div>
    </div>
    <%# this is where carrousel ends %>

  </div>
  <%# this is where aboutus-card-presentation-carrousel starts %>

  <%# this is where aboutus-card-information starts %>
  <div class="aboutus-card-information">
    <h2>About obesity</h2>
    <p>Obesity is a medical condition characterized by an excess accumulation of body fat, often resulting from a combination of genetic, environmental, and lifestyle factors. It poses various health risks, including an increased likelihood of developing conditions such as type 2 diabetes, heart disease, hypertension, and certain cancers. Additionally, obesity can impact mental health and contribute to musculoskeletal issues. Maintaining a balanced diet, regular physical activity, and seeking medical guidance are crucial in addressing and preventing obesity-related health problems.</p>

      <%= image_tag  "obesity_chart.jpg.png", width: "300px"%>
      <%= image_tag  "obesity_chart_france.jpg.png", width: "300px"%>
      <%= image_tag  "obesity_gender.jpg.png", width: "300px"%>
      <%= image_tag  "obesity_france.jpg.png", width: "300px"%>

  </div>
  <%# this is where aboutus-card-information ends %>

  <%# this is where aboutus-card-philosophy starts%>
  <div class="aboutus-card-philosophy">
    <h2>Hive philosophy</h2>

        <p>“Aerodynamically, the bumble bee shouldn't be able to fly, but the bumble bee doesn't know it so it goes on flying anyway.” - Mary Kay Ash</p>

        <%= image_tag  "bumblebee.jpg", width: "300px"%>

        <p>Similarly, in the face of perceived limitations, individuals with obesity possess an innate strength that defies conventional expectations. Like the bumblebee soaring through the skies despite aerodynamic odds, you, too, hold the power to transcend societal norms. Embrace the resilience within, oblivious to the constraints imposed by others or self-doubt. Just as the bumblebee continues to fly without knowing it "shouldn't," let your spirit take flight, breaking free from preconceived notions. Your journey toward a healthier lifestyle is a testament to the extraordinary potential within, fueled by determination and a belief in your ability to overcome challenges. Keep flying, not confined by what others think is possible, and embrace the unique beauty of your personal flight towards well-being.</p>
    </div>

  </div>
  <%# this is where aboutus-card-philosophy end%>

</div>

<%= render "shared/navbar" %>
