<%= render "/shared/topbar" %>
<%= link_to dashboard_path do%>
<i class="fa-solid fa-arrow-left"></i>

<div class="container-progress">



 <%= line_chart current_user.get_weights %>

  <% end %>

  <div class="container mt-4">
  <h1> Suivre ma progression  </h1>
  </div>

  <%= column_chart current_user.get_weights %>

</div>
 <%= render "shared/navbar" %>

