<%= render "/shared/topbar" %>
<%= link_to dashboard_path do%>
<i class="fa-solid fa-arrow-left"></i>


<div class="container-progress">



 <%= line_chart current_user.get_weights %>

  <% end %>



</div>

<div class="container mt-4">
 <%= simple_form_for @user_weights do |f| %>
    <%= f.number_field :weight %>
    <%= f.submit %>
  <% end %>
</div>

 <%= render "shared/navbar" %>
